*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
h1{
     text-align: center;
     background-color: brown;
     color: aliceblue;
     text-decoration: underline;
     /* font-size: 14px; */
}
p{
     display: block;
     text-align: justify;
     background-color: aqua;
}