*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
    background-image: url(background.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.menu{
    background-color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    /* background-color: black; */
}
.logo{
    /* width: 25%; */
    display: inline-block;
}
.icon{
    width: 50px;
    height: 50px;
    float: left;
}
.logo-text{
    color: white;
    font-size: 20px;
}
.tagline{
    color: white;
    font-size: 10px;
}
.nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.nav ul li a:hover{
    color: orangered;
    transition: .3s;
}
button{
    border: none;
    background: orangered;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1,1.);
    cursor: pointer;
    color: orangered;
    background-color: white;
}
button a{
    text-decoration: none;
    color: white;
}
button a:hover{
    color: orangered;
}
.footer{
    /* height: 200px; */
    background-color: black;
}
h2{
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    margin: auto;
    width: 30%;
    background-color: orangered;
    height: 1px;
    border: none;
    margin-bottom: 10px;
}
.social-links{
    width: 50%;
    margin: auto;
    text-align: center;
}
.social-links img{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 12px;
}
.social-links img:hover{
    height: 60px;
    width: 60px;
}

.copyright{
    color: white;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}