
header{
    background-image: url("./image/1.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}