h2{
    text-align: center;
    color: white;
}
.team-section{
    background-color: brown;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-members{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.team-member{
    background-color: rgb(13, 213, 228);
    padding: 16px;
}

